<form #f="ngForm" (ngSubmit)="login(f)" [formGroup]="registrationform">


  <input type="text" placeholder="Enter Username" formControlName = "username">
  
  <div>

    <div *ngIf="username.touched && username.invalid">

      <p *ngIf="username.errors.required">Username Required</p>
      <p *ngIf="username.errors.minlength">Min Length is 5</p>

    </div>
   </div>
   <br><br>


  <input type="password" placeholder="Enter Password" formControlName = "password">
  
  <div>

    <div *ngIf="password.touched && password.invalid">

      <div *ngIf="password.errors.required">Password Required</div>
      <div *ngIf="password.errors.minlength">Min Length is 5</div>

    </div>
   </div>
   <br><br>


  <input type="email" placeholder="Enter Email" email formControlName="email">
  
  <div>

    <div *ngIf="email.touched && email.invalid">

      <div *ngIf="email.errors.required">Email Required</div>
      <div *ngIf="email.errors.email">Inavlid email</div>

    </div>
   </div>
   <br><br>

  <select formControlName="state">
    <option value="" selected>Choose State</option>
    <option value="Telangana">TA</option>
    <option value="Karnataka">KN</option>
    <option value="Tamil Nadu">TN</option>
    <option value="Andhra Pradesh">AP</option>
  </select>
  <div>

    <div *ngIf="state.touched && state.invalid">

      <div *ngIf="state.errors.required">State Required</div>

    </div>
   </div>
  <br><br>

  <span>Accept Terms and Conditions <input type="checkbox" formControlName="terms" ></span>
   <div>

    <div *ngIf="terms.touched && terms.invalid">

      <div *ngIf="terms.errors.required">Acceptance of Terms Required</div>

    </div>
   </div>
   <br><br>

   <button [disabled]="f.invalid">Submit</button>
   <br><br>

  </form>

  <table border=1>
  
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>State</th>
    </tr>
    <tr *ngIf = "userData">
      <td>{{userData.username}}</td>
      <td>{{userData.password}}</td>
      <td>{{userData.email}}</td>
      <td>{{userData.state}}</td>
    </tr>
  
  </table>
  
